.tabs.ui-tabs {
  border: 1px solid $border-color;
  background-color: #fff;
  @include box-shadow(0 0 4px 0 rgba(0,0,0,.04));

  @media screen and (min-width: $lg-width) {
    border-radius: $border-radius;
  }

  .nav {
    border-bottom: 1px solid $border-color;
    
    li {
      display: inline-block;
      text-align: center;
      @include outline();

      a {
        color: $text-color;
        display: inline-block;
        padding: 15px 25px;
        text-decoration: none;
        @include outline();
        @include transition-button();
      }
      
      &.ui-tabs-active {
        border-bottom: 2px solid $primary-color;

        a {
          color: $primary-color;
        }
      }
    }
  }

  .tab-content {
    padding: 20px;

    .panel {
      background-color: inherit;
      @include box-shadow(none);
      padding: 0;
      margin-bottom: 0;
    
      @media screen and (min-width: $lg-width) {
        padding: 0;
        border-radius: 0;
      }
    }
    
  }
}